.partida-container, .gameover-container{
    gap: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.gameover {
    text-align: center;
}

.search {
    display: flex;
    gap: 3px;
}